* {
    /* border: 1px solid red; */
    font-family: 'Work Sans', sans-serif;
}

.btn-modal {
    background-color: #FEF7F7;
    color: rgba(235, 87, 87, 1);
    border-radius: 50%;
    width: 50px;

}

.btn-modal svg {
    /* width: 15px; */
}