* {
    /* border: 1px solid red; */
    font-family: 'Work Sans', sans-serif;
}

.btn-modal {
    background-color: #FEF7F7;
    color: rgba(235, 87, 87, 1);
    border-radius: 50%;
    width: 50px;

}

/* .btn-modal-close {
    background: #EB5757 !important;
} */
#btn-modal-close {
    background-color: red !important;
    color: white !important;
}

.btn-modal svg {
    /* width: 15px; */
}